body {
  min-height: 100vh;
}

section {
  min-height: 80%;
}

.title-fild,
.author-fild {
  display: block;
  margin: 1rem 0 1rem 0;
  width: 97%;
}

.input-form {
  width: 24%;
}

.add-books-section h2 {
  font-size: 3rem;
}

/* list-books-section */

.list-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.remove-btn {
  height: 30px;
  border-radius: 10px;
  border: 3px;
  margin-top: 20px;
  position: absolute;
  right: 5%;
}

.books-section {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.books-section > div:nth-of-type(even) {
  background-color: beige;
}

.title-author {
  margin-left: 2%;
}

.book-div {
  display: flex;
  flex-direction: row;
}

.add-books-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 10%;
  height: 65vh;
}

.add-button {
  margin-left: 85%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-width: 3px;
  border-style: solid;
  padding: 1%;
}

.nav-bar-title {
  display: flex;
  height: 20%;
}

.nav-bar-awsome {
  margin: 0;
}

.options {
  display: flex;
  gap: 2%;
  width: 30%;
  align-items: center;
  height: 20%;
}

.options-text {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.options-navs {
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

/* contact-section */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  height: 65vh;
}

.contact-info h1 {
  font-size: 3rem;
}

.table-of-contact {
  margin-right: 10%;
}

/* footer */
.footer-section {
  border-style: solid;
  padding-left: 10px;
  margin-top: 2%;
  width: 99%;
  position: inherit;
  bottom: 2%;
}

.hide {
  display: none;
}

/* time */
.time {
  margin-left: 84%;
  font-size: 1.5rem;
}
